
.css-8t49rw-MuiStepConnector-line {
    display: block;
    border-color: #080707 !important;
    border-left-style: solid;
    border-left-width: 5px;
    height: 55px !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root
{
    color:#3B877A!important
}

