.today-day {
    background-color: '#3B877A' !important;
  }
  .rbc-header{

  
  }
   .rbc-header:first-child{
   color: red !important;
   }

   .css-1ke1u22-MuiTabs-root {
   
    display: none !important;
    
}

  