.today-day {
    background-color: '#3B877A' !important;
  }
  .rbc-header{

  
  }
   .rbc-header:first-child{
   color: red !important;
   }

   .css-1ke1u22-MuiTabs-root {
   
    display: none !important;
    
}
#root > div > div > div.MuiGrid-root.MuiGrid-container.css-1ri637b-MuiGrid-root > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-md-9.css-neb4x5-MuiGrid-root > div > div.MuiBox-root.css-1yjsyn0
{
  padding-top: 10px;

}

#root > div > div > div.MuiGrid-root.MuiGrid-container.css-1ri637b-MuiGrid-root > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-md-9.css-neb4x5-MuiGrid-root > div > div.MuiBox-root.css-1libr1i
{
  padding-top:10px;
}
/* #root > div > div > div.sc-beySPh.cxSrBg > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-1.MuiGrid-grid-sm-10.MuiGrid-grid-md-9.css-1jvafor-MuiGrid-root > div > div
{
  width:{
    xs:400,
  }
} */
#root > div > div > div > main > div > div > div:nth-child(2){
  overflow-y:'none'
}

/* #root > div > div > div > main > div
{
  
} */


#root > div > div > div > nav > div > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3.MuiGrid-grid-sm-1.MuiGrid-grid-md-3.css-mcxjgr-MuiGrid-root > div > div:nth-child(2) > div:nth-child(2)
{
  background-color:#DEF4F2
}



.css-12i7wg6-MuiPaper-root-MuiDrawer-paper
{
  overflow-y: none !important;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

#root > div > div > nav > div > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3.MuiGrid-grid-sm-1.MuiGrid-grid-md-3.css-13i4rnv-MuiGrid-root
{
  background-color: #DEF4F2;
}

#root > div > div > nav > div > div
{
  background-color: #DEF4F2;

}

body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-hjb2rp-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3.MuiGrid-grid-sm-1.MuiGrid-grid-md-3.css-13i4rnv-MuiGrid-root > div > div:nth-child(2) > div > div:nth-child(2)
{
  background-color: #DEF4F2 !important; 
}

#root > div > div > nav > div > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3.MuiGrid-grid-sm-1.MuiGrid-grid-md-3.css-mcxjgr-MuiGrid-root > div > div:nth-child(2) > div.style
{
  width:'100%';
}

.css-15mwa8c
{
  width:100% !important;
}


.fc .fc-daygrid-day-frame ,.fc .fc-daygrid-day-top, .fc .fc-daygrid-day-number
{
  width:100%;
  height:100% !important;
  position:relative
  /* background-color: blue; */
}


.fc .fc-daygrid-day-events 
{
  display:none
}

.blocked-date {
  pointer-events: none; /* Disable click events */
  opacity: 0.5; /* Apply visual indication for blocked dates */
  background-color: rgb(73, 7, 7);
  
}

.nonblocked-date
{
  background-color: black;
}











.fc-col-header-cell.fc-day-sun {
  color: red; /* Apply red color to Sunday header */
}


  